/*
  Header
*/
.navbar-default {
  background: #fff;
}

.navbar-default .navbar-brand {
  padding: 20px 20px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav>li>a {
      padding-top: 20px;
      padding-bottom: 20px;
  }
}
.navbar-social.navbar-nav>li>a {
  padding-left: 5px;
  padding-right: 5px;
}
/* End Header */

/*
  Blog Header
*/
.navbar-secondary {
  background-color: #eee;
  margin-top: -20px;
}

.hero {
  margin-top: -20px;
  border-bottom: solid 1px #eee;
  padding: 40px 0px;
  margin-bottom: 20px;
}

.hero h1 {
  margin: 0;
}
.hero p {
  margin: 0;
}
/* End Blog Header */