{{ partial "header-first.html" . }}
{{ partial "header-after.html" . }}

<section class="hero">
  <div class="container">
    <h1>Blog posts done by me.</h1>
    <p>This is an explaination of the blog and how it works.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <h1 class="p-page-title">BACON</h1>

      <div class="row">
        {{ range (.Paginate .Data.Pages).Pages }}
        <div class="col-sm-4">
          {{ .Render "grid" }}
        </div>
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}

