{{ partial "header-first.html" . }}
{{ partial "header-after.html" . }}
  
<div class="container">
  
  <div class="row">
    <div class="col-md-9">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}{{ range $paginator.Pages }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div>{{ .Summary }}</div>
      </article>
      {{ end }}
      {{ partial "pagination.html" . }}
    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}