{{ partial "header-first.html" . }}
{{ partial "header-after.html" . }}


{{ range $key, $value := .Site.Taxonomies }}
  {{ if eq $key "categories"}}
  <nav class="navbar navbar-secondary">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/blog">Blog</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          {{ range first 10 $value.ByCount }}
          <li>
            <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name | humanize }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
  {{ end }}
{{ end }}

<div class="hero">
  <div class="container text-center">
    <h1>This is the Matt Kruskamp Blog.</h1>
    <p>Lorem ipsum dalor sit ament</p>
  </div>  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        {{ range (.Paginate .Data.Pages).Pages }}
        <div class="col-sm-4">
          {{ .Render "grid" }}
        </div>
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}